.main-form {
  max-width: 540px;
  margin-inline: auto;
}


.title {
  max-width: 640px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.mb-20 {
  margin-bottom: 20px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.by-admin{
  height: 30px;
  border-radius: 100%;
}
.mb-62{
  margin-bottom: 62px !important;
}
.radio-custom {
    accent-color: #ff2c72; /* matches the red circle in the image */
}
.accordion-button::after {
    display: none !important;
}
